# Python virtual environments
venv/
.env/
.venv/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Django local database
db.sqlite3
*.sqlite3

# Django static and media
/staticfiles/
media/

# Logs
*.log

# IDE files
.vscode/
